@inject UserManager<User> UserManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #16191b; color:#d1cdc7;">
            <div class="container-fluid">
                <a class="navbar-brand"  style="color:#d1cdc7;" asp-area="" asp-controller="Home" asp-action="Index">Perfect Site</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" style="color:#d1cdc7;" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  style="color:#d1cdc7;" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        User user = await UserManager.FindByNameAsync(User.Identity.Name);

                        <a class="btn btn-primary text-center" asp-controller = "Cabinet" asp-action = "Main" asp-route-id = "@user.Id">Личный кабинет</a>
                       @*  <form method = "post" asp-controller = "Cabinet" asp-action = "Main" asp-route-id = "user.Id">
                                 <input type = "submit" class = "btn btn-primary text-center" value = "Войти в личный кабинет"/>
                           </form>
                           <form method = "post" asp-controller = "Account" asp-action = "Logout">
                                 <input type = "submit" class = "btn btn-primary text-center" value = "Выйти из аккаунта"/>
                           </form>*@
                        @* <form  asp-controller="Cabinet" asp-action="Main">
                            <div asp-validation-summary="ModelOnly"></div>
                            <input name = "firstname" type = "hidden" asp-for = "Email">
                            <input type = "hidden" asp-for = "FirstName">
                            <input type = "hidden" asp-for = "SecondName">
                            <input type = "hidden" asp-for = "BirthDate">
                            <input type = "hidden" asp-for = "PhoneNumber">
                            <input type="submit" value="Войти" class="nav-link text-dark" @Url.Action("Cabinet", "Main",  new User{})/>

                            </form>*@
                        @*<a class="nav-link text-dark login-btn" asp-controller="Account" asp-action="AuthenticatedLogin" >Войти</a>*@
                        @*<form method = "post" asp-controller = "Cabinet" asp-action = "Main">
                            <input type = "hidden" asp-for="Id" value =  "@ViewData["email"]">
                            <input type = "submit"  class="nav-link text-dark btn btn-primary" value = "Войти"/>
                        </form>*@
                       

                    }
                    else
                    {
                        <a class="btn btn-primary text-center" asp-controller="Account" asp-action="Login" >Войти</a>
                    }

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
