@using PerfectSite.Data.Products
@using PerfectSite.Areas.Store.ViewModels.PageSortFilter
@model ProductViewModel<Motherboard>
@{
     
    ViewData["Title"] = "Motherboards";
}
<html>
    <body>
        <h1>Список товаров</h1>
<form method = "get">
     <div class="form-inline">
         <label>Название</label>
         <input name = "name" value="@Model.FilterViewModel.SelectedName" class = "form-control  my-text my-border-color my-textbar-background" />
         <label>Компания </label>
        <select name="manufacturer" asp-items="Model.FilterViewModel.Manufacturers" class="form-control  my-text my-border-color my-textbar-background" ></select>
 
        <input type="submit" value="Фильтр" class="btn btn-primary my-btn" />
     </div>
</form>

@{
        if (User.IsInRole("God of the Site"))
        {
              <a asp-controller = "Data" asp-action="Motherboard_Create" class = "btn-primary btn">Добавить</a>
        }

     }

<table class="table my-text">
    <tr>
        <th>
            <a class = "my-link" asp-action = "Motherboards" asp-route-sortOrder="@(Model.SortingViewModel.NameSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-manufacturer="@(Model.FilterViewModel.SelectedManufacturer)">Название</a>
        </th>
        <th>
              <a class = "my-link" asp-action="Motherboards" asp-route-sortOrder="@(Model.SortingViewModel.ManufacturerSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-manufacturer="@(Model.FilterViewModel.SelectedManufacturer)">Компания</a>
        </th>
        <th>
             <a class = "my-link" asp-action="Motherboards" asp-route-sortOrder="@(Model.SortingViewModel.AmountSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-manufacturer="@(Model.FilterViewModel.SelectedManufacturer)">Осталось на складе</a>
        </th>
        <th>
             <a class = "my-link" asp-action="Motherboards" asp-route-sortOrder="@(Model.SortingViewModel.PopularitySort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-manufacturer="@(Model.FilterViewModel.SelectedManufacturer)">Популярность</a>
        </th>
         <th>
            <a class = "my-link" asp-action="Motherboards" asp-route-sortOrder="@(Model.SortingViewModel.PriceSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-manufacturer="@(Model.FilterViewModel.SelectedManufacturer)">Цена</a>
        </th>
         @{
                if(User.IsInRole("God of the Site"))
                {
                    <th style="color: #0d6efd;">Дополнительные действия</th>
                }
        }
    </tr>
        @foreach(var product in Model.Products)
        {
            <tr>
                <td  >
                    <a asp-controller="ProductPage" asp-action="MotherboardPage" asp-route-id = "@product.Id">@product.ModelName</a>
                </td>
                <td >
                    @product.Manufacturer.Name
                </td>
               
                <td  >
                    @product.Amount
                </td>
                @{
                    if (product.BoughtTimes > 100)
                    {
                        <td class  = "my-text">Высокая</td>
                    }
                    else if(product.BoughtTimes < 100 && product.BoughtTimes > 25)
                    {
                        <td  class  = "my-text">Средняя</td>
                    }
                    else
                    {
                        <td  class  = "my-text">Низкая</td>
                    }
                <td >
                    @product.Price
                </td>
                    if(User.IsInRole("God of the Site"))
                    {
                        <td>
                            <a class = "my-link" asp-action="Motherboard_Details" asp-controller="Data" asp-route-id="@product.Id">Подробнее</a> |
                            <a class = "my-link" asp-action="Motherboard_Edit" asp-controller="Data" asp-route-id="@product.Id">Изменить</a> |
                            <a class = "my-link" asp-action="Motherboard_Delete" asp-controller="Data" asp-route-id="@product.Id">Удалить</a>
                        </td>
                    }
                }
                
            </tr>
        }
    </table>

    @if (Model.PageViewModel.HasPreviousPage)
    {
         <a asp-action="Motherboards"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-manufacturer="@(Model.FilterViewModel.SelectedManufacturer)"
       asp-route-sortorder="@(Model.SortingViewModel.Current)"
       class="btn btn-primary">Назад </a>
    }
    @if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Motherboards"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-manufacturer="@(Model.FilterViewModel.SelectedManufacturer)"
       asp-route-sortorder="@(Model.SortingViewModel.Current)"
       class="btn btn-primary">
        Вперед
    </a>
}
</body>
</html>
