@using Microsoft.AspNetCore.Identity
@using PerfectSite.Models
@inject UserManager<User> UserManager;
@model  PerfectSite.Areas.Store.ViewModels.ProductPage.FramePageViewModel;
@{
    string pageUrl = $"~{Context.Request.Path}{Context.Request.QueryString}";
    ViewData["Title"] = "Product Page";
}

<html> 
     <h1 class = "text-center" >Информация о  @Model.Frame.ModelName </h1> 
        <h2 class = "text-center"> @Model.Frame.Price  рублей</h2> 
        <div class="form - inline"> 
        <p style = " font-size: 150%">Название модели:</p> 
        <b style = " font-size: 200%"> @Model.Frame.ModelName </b> 
        <p></p>
    <body>
        <div class="form - inline"> 
        <p style = " font-size: 150%">Производитель:</p> 
        <b style = " font-size: 200%"> @Model.Frame.Manufacturer.Name</b> 
        <p></p> 
        <p style = " font-size: 150%">Форм фактор:</p> 
        <b style = " font-size: 200%"> @Model.Frame.Size </b> 
        <p></p> 
        <p style = " font-size: 150%">Максимальная длинна видеокарты:</p> 
        <b style = " font-size: 200%"> @Model.Frame.GPULength см</b> 
        <p></p>
        @{
            if((!string.IsNullOrEmpty(@Model.Frame.Description)))
            {
                <p style = "font-size: 150%">Описание:</p> 
                <b class = "text-center" style = " font-size: 125%"> @Model.Frame.Description </b>
            }
        }
        <a class = "btn btn-primary my-btn" asp-action="Frame_Buy" asp-controller = "Buy" asp-route-frameId = "@Model.Frame.Id">Купить</a>
        @if (Model.SuitableGPUs.Count() != 0)
            {
                <p style = " font-size: 150%">Подходящие видеокарты:</p> 
                foreach(var gpu in Model.SuitableGPUs)
                {
                    <dl>
                        <dd><a class = "my-link" asp-controller="ProductPage" asp-action="GPUPage" asp-route-id = "@gpu.Id"><b style = " font-size: 150%;">@gpu.ModelName</b></a></dd>
                    </dl>
                }
            }     
            @{
                if (User.Identity.IsAuthenticated)
                { 
                    User user = await UserManager.FindByNameAsync(User?.Identity?.Name);
                    @await Component.InvokeAsync("CreateComment", new {productId = Model.Frame.Id, userId = user.Id, productName = Model.Frame.ModelName})
                }
                else
                {
                    <p>Чтобы оставлять комментарии <a asp-controller = "Account" asp-action = "Login" asp-route-returnUrl = "@pageUrl">войдите в аккаунт</a></p>
                }

            }
            @await Component.InvokeAsync("ShowComments", new { productId = Model.Frame.Id,  pageUrl = pageUrl})
        </div> 
    </body> 
</html>
