@model WebApplication1.Models.User
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<html>
    <body>
        <h2 class = "text-center" >Здравствуйте, @Model.FirstName</h2>
        <h2 class = "text-center">Это ваш личный кабинет</h2>
          <div class = "form-group">
              <form method="post" asp-controller="Cabinet" asp-action="ChangeFirstName">
                   <label asp-for="FirstName"  class = "col-md-4  control-label">Ваше имя:</label><br />
               <div class = "col-md-4">
                   <input type = "text" asp-for="FirstName" class = "form-control center" value = "@Model.FirstName"/>
                    <input type = "submit" class = "btn btn-primary center" value = "Изменить"/>
              </div>
              </form>
               <form method="post" asp-controller="Cabinet" asp-action="ChangeSecondName">
                   <label asp-for="SecondName"  class = "col-md-4  control-label center">Ваша фамилия:</label><br />
               <div class = "col-md-4">
                   <input type = "text" asp-for="SecondName" class = "form-control center" value = "@Model.SecondName"/>
                    <input type = "submit" class = "btn btn-primary center" value = "Изменить"/>
              </div>
              </form>
              <form method="post" asp-controller="Cabinet" asp-action="ChangeEmail">
                   <label asp-for="Email"  class = "col-md-4  control-label">Ваш Email:</label><br />
               <div class = "col-md-4">
                   <input type = "text" asp-for="Email" class = "form-control center" value = "@Model.Email"/>
                    <input type = "submit" class = "btn btn-primary center" value = "Изменить"/>
              </div>
              </form>
            @* <form method="post" asp-controller="Cabinet" asp-action="ChangePassword">
                   <label asp-for="PasswordHash"  class = "col-md-4  control-label" >Ваш пароль:</label><br />
               <div class = "col-md-4">
                   <input type = "password" asp-for="PasswordHash" class = "form-control" value = "@Model.PasswordHash." disabled/> 
                </form>*@
                <wbr />
                
              <a asp-controller="Cabinet" asp-action="ChangePassword" asp-route-id = "@Model.Id" class = "btn btn-primary btn-lg center">Изменить пароль</a>
              </div>
              &nbsp;
              &nbsp;
               <form method = "post" asp-controller = "Account" asp-action = "Logout">
             <input type = "submit" class = "btn btn-primary center" value = "Выйти из аккаунта"/>
        </form>
              </div>
              <div class="col-xl-12" style="margin-top:40px;">
        @foreach (var modeleState in ViewData.ModelState.Values)
         {
            foreach (var error in modeleState.Errors)
             {
                <h5 style="color:red;margin-top:8px;">@error.ErrorMessage</h5>
             }
          }
     </div>
    </body>
</html>

<html>
    <body>

    </body>
</html>