@model WebApplication1.Data.Products.GPU
@{
    ViewBag.Title = "Информация CPU";
}

<html>
    <body>
        <h2>Модель @Model.ModelName</h2>

<div class = "my-text dl-horizontal">
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>@Model.Id</dd>
 
        <dt>Производитель</dt>
        <dd>@Model.Manufacturer.Name</dd>

        <dt>Частота ядра</dt>
        <dd>@Model.GPUFrequency</dd>

        <dt>Колличество видеопамяти</dt>
        <dd>@Model.MemorySize</dd>

        <dt>Тип памяти</dt>
        <dd>@Model.MemoryType</dd>

        <dt>Частота памяти</dt>
        <dd>@Model.MemoryFrequency</dd>

        <dt>Цена</dt>
        <dd>@Model.Price</dd>

        <dt>Осталось на складе</dt>
        <dd>@Model.Amount</dd>

        <dt>Куплен</dt>
        <dd>@Model.BoughtTimes раз</dd>
    </dl>
    <a class = "btn btn-primary" asp-controller = "Store" asp-action = "GPUs">Назад</a>
</div>
    </body>
</html>