@model PerfectSite.Areas.Account.ViewModels.Cabinet.MainViewModel
@{
     
    ViewData["Title"] = "Cabinet";
}
<html>
    <body>
        <h2 class = "text-center" >Здравствуйте, @Model.User.FirstName</h2>
        <h2 class = "text-center">Это ваш личный кабинет</h2>
         <div class = "form-group ">
              <label asp-for="User.FirstName"  class = "col-md-4  control-label">Ваше имя:</label><br />
               <div class = "col-md-4">
                   <input type = "text"  asp-for="User.FirstName" class = "form-control my-form" value = "@Model.User.FirstName" disabled style="background-color: #232627; color:#d1cdc7;  border-color:  #121415;"/>
                     <a class = "btn btn-primary my-btn" asp-route-id = "@Model.User.Id" asp-controller = "Cabinet" asp-action = "ChangeFirstName">Изменить</a>
              </div>
              
                   <label asp-for="User.SecondName"  class = "col-md-4  control-label center">Ваша фамилия:</label><br />
               <div class = "col-md-4">
                   <input type = "text" asp-for="User.SecondName" class = "form-control center" value = "@Model.User.SecondName" disabled  style="background-color: #232627; color:#d1cdc7;  border-color:  #121415;"/>
                     <a class = "btn btn-primary my-btn" asp-route-id = "@Model.User.Id" asp-controller = "Cabinet" asp-action = "ChangeSecondName">Изменить</a>
              </div>
              <form method="post" asp-controller="Cabinet" asp-action="ChangeEmail"  style="color:#d1cdc7; border-color:  #121415;">
                   <label asp-for="User.Email"  class = "col-md-4  control-label">Ваш Email:</label><br />
               <div class = "col-md-4">
                   <input type = "text" class = "form-control center" value = "@Model.User.Email" disabled  style="background-color: #232627; color:#d1cdc7;  border-color:  #121415;"/>
                    <a class = "btn btn-primary my-btn" asp-route-id = "@Model.User.Id" asp-route-oldEmail = "@Model.User.Email" asp-controller = "Cabinet" asp-action = "ChangeEmail">Изменить</a>
              
              </div>
              </form>
               <wbr />
              <a asp-controller="Cabinet"  asp-action="ChangePassword" asp-route-id = "@Model.User.Id" class = "btn btn-primary my-btn change-password-btn">Изменить пароль</a>
              </div>
           <div style = "padding-bottom: 2%;">
              <a class = "btn btn-primary btn-lg" asp-action="MyOrders">Мои заказы</a>
            </div>
               <form method = "post" asp-controller = "Account" asp-action = "Logout" asp-route-returnUrl = "@Model.ReturnUrl">
                    <input type = "submit" class = "btn btn-primary my-btn" value = "Выйти из аккаунта"/>
               </form>
               <a class="btn btn-primary btn-sm" asp-action = "DeleteAccount" asp-route-id="@Model.User.Id">Удалить аккаунт</a>
              
           
              <div class="col-xl-12" style="margin-top:40px;">
        
             </div>
    </body>
</html>

<html>
    <body>

    </body>
</html>