@model IEnumerable<PerfectSite.Models.Order>
@{
     
    ViewData["Title"] = "My orders";
}
 <h2>Список моих заказов</h2>
        <table class="table my-text">
        <tr>
            <th>ID</th>
            <th>ID товара</th>
            <th>Колличество</th>
            <th>Дата создания</th>
        </tr>
        @foreach (var order in Model)
        {
            string id = order.UserId;
        <tr>
            <td>@order.Id</td>
            <td>@order.ProductId</td>
            <td>@order.Quantity</td>
            <td>@order.CreatedAt</td>
        </tr>
        }
</table>
<a class = "btn btn-primary my-btn" asp-controller = "Cabinet" asp-action="Main" asp-route-id = "@Model.FirstOrDefault()?.UserId">Вернуться в личный кабинет</a>