
@model  PerfectSite.Data.Products.Computer;
@{
      Layout = "_Layout";
    ViewData["Title"] = "Product Page";
}

<html> 
    <body> 
        <h1 class = "text-center" >Информация о лучшем компьютере этой вселенной </h1> 
        <h2 class = "text-center">Цена: Бесценен</h2> 
        <div class="form - inline"> 
        <p style = " font-size: 150%">Название модели:</p> 
        <b style = " font-size: 200%"> @Model.ModelName </b> 
        <p></p>
        <p style = " font-size: 150%">Процессор:</p> 
        <a style = " text-decoration: none;" asp-controller="ProductPage" asp-action="CPUPage" asp-route-id = "@Model.CPUId"><b style = " font-size: 200%">@Model.CPU.ModelName</b> </a>
        <p></p> 
        <p style = " font-size: 150%">Видеокарты:</p> 
        <a style = " text-decoration: none;" asp-controller="ProductPage" asp-action="GPUPage" asp-route-id = "@Model.GPUId"><b style = " font-size: 200%">@Model.GPU.ModelName</b> </a>
        <p></p> 
        <p style = " font-size: 150%">ОЗУ:</p> 
         <a style = " text-decoration: none;" asp-controller="ProductPage" asp-action="RAMPage" asp-route-id = "@Model.RAMId"><b style = " font-size: 200%">@Model.RAM.ModelName</b> </a>
        <p></p> 
        <p style = " font-size: 150%">HDD:</p> 
        <a style = " text-decoration: none;" asp-controller="ProductPage" asp-action="HDDPage" asp-route-id = "@Model.HDDId"><b style = " font-size: 200%">@Model.HDD.ModelName</b> </a>
        <p></p> 
        <p style = " font-size: 150%">SSD:</p> 
        <a style = " text-decoration: none;" asp-controller="ProductPage" asp-action="SSDPage" asp-route-id = "@Model.SSDId"><b style = " font-size: 200%">@Model.SSD.ModelName</b> </a>
        <p></p>
        <p style = " font-size: 150%">Материнская плата:</p> 
        <a style = " text-decoration: none;" asp-controller="ProductPage" asp-action="MotherboardPage" asp-route-id = "@Model.MotherboardId"><b style = " font-size: 200%">@Model.Motherboard.ModelName</b> </a>
        <p></p>
         <p style = " font-size: 150%">Блок питания:</p> 
        <a style = " text-decoration: none;" asp-controller="ProductPage" asp-action="PowerSupplyPage" asp-route-id = "@Model.PowerSupplyId"><b style = " font-size: 200%">@Model.PowerSupply.ModelName</b> </a>
        <p></p>
        @{
            if((@Model.Description != null) && (!string.IsNullOrEmpty(@Model.Description)))
            {
                <p style = "font-size: 150%">Описание:</p> 
                <b class = "text-center" style = " font-size: 125%"> @Model.Description </b>
            }
        }
        <p></p>
        <p class = "text-center" style = " font-size: 150%">Данный товар невозможно купить</p>
        <a class= "btn btn-primary my-btn" asp-controller = "Store" asp-action = "Computers">Назад</a>
        </div> 
    </body> 
</html>
