@model WebApplication1.Data.Products.SSD
@{
    ViewBag.Title = "Информация SSD";
}

<html>
    <body>
        <h2>Модель @Model.ModelName</h2>

<div class = "my-text dl-horizontal">
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>@Model.Id</dd>
 
        <dt>Производитель</dt>
        <dd>@Model.Manufacturer.Name</dd>

        <dt>Интерфейс</dt>
        <dd>@Model.Interface</dd>

        <dt>Пропускная способность</dt>
        <dd>@Model.Bandwidth</dd>

        <dt>Цена</dt>
        <dd>@Model.Price</dd>

        <dt>Осталось на складе</dt>
        <dd>@Model.Amount</dd>

        <dt>Куплен</dt>
        <dd>@Model.BoughtTimes раз</dd>
    </dl>
    <a class = "btn btn-primary" asp-controller = "Store" asp-action = "SSDs">Назад</a>
</div>
    </body>
</html>
