@model PerfectSite.Areas.Store.ViewModels.Comments.ShowUserInfoViewModel
@{
    string pageUrl = $"~{Context.Request.Path}{Context.Request.QueryString}";
    ViewData["Title"] = "Show User info";
}

<html>
    <body>
        <h1 class = "text-center">Информация о пользователе</h1>
         <b>Имя</b>
         <p>@Model.User.FirstName</p>
          <b>Фамилия</b>
         <p>@Model.User.SecondName</p>
         <b>Дата рождения</b>
          <p>@Model.User.BirthDate.ToString("Y")</p>
          <b>Дата регистрации</b>
         <p>@Model.User.JoinedDate.ToString("Y")</p>
         <b>Комментарии</b><br />
         @{
        foreach(var comment in Model.Comments)
        {
            <b>Название товара</b>
            <p>@comment.ProductName</p>
            <b>Комментарий</b>
            <p>@comment.Value</p>
            if (User.IsInRole("God of the Site"))
            {
                <td>
                    <a asp-controller = "Comment" asp-action = "Delete" class="btn btn-primary" asp-route-commentId = "@comment.Id" asp-route-pageUrl = "pageUrl">Удалить</a>
                    </td>
            }
            <p>----------</p>
        }
    }
    </body>
</html>